html {
  height: 100vh;
  font-family: system-ui;
}
body,
#root {
  height: 100%;
  margin: 0;
}
.root {
  transition: all 0.3s;
  padding: 10px;
  height: 100%;
}
.dark {
  background-color: rgba(0, 0, 0, 0.85);
  color: rgba(255, 255, 255, 0.8);
}
.light {
  background-color: white;
  color: rgba(0, 0, 0, 0.8);
}
button {
  border: none;
  background-color: transparent;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.dark button {
  box-shadow: 0 0 2px 1px white;
  color: rgba(255, 255, 255, 0.8);
}
.light button {
  box-shadow: 0 0 2px 1px grey;
  color: black;
}
